<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width: 500px;">
            <div class="card-header">
                <h3 class="text-uppercase text-center p-4"> PRUEBA TECNICA NODE</h3>
                <div class="card-body text-center">
                    <p>¡Bienvenido a mi prueba técnica de desarrollo! En este proyecto, he creado una aplicación utilizando Node.js, Express y como BD usando los servicios de DynamoDB en AWS </p>

                    <p>Espero que disfrutes revisando mi prueba técnica y estoy ansioso por recibir tus comentarios!</p>
                    <a href="/personas" class="btn btn-primary">Empezemos!!</a>
                </div>
            </div>
        </div>
    </div>
</main>